.sasaya-slider {
  @include clearfix;

  width: 100%;
  position: relative;

  * {
    color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a {
    &:hover {
      color: #72dde2;
    }

    * {
      transition: color .25s ease-in-out;
    }
  }

  .mask {
    @include media-breakpoint-up(md) {
      background-color: #fff;
      position: absolute;
      top: $slider-height - 1px;
      left: 0;
      height: 1px;
      width: 100%;
      z-index: 5;
    }
  }

  .arrow {
    > * {
      position: absolute;
      width: $arrow-handler-width;
      height: $slider-height;
      top: 0;
      z-index: 8;
      text-align: center;
      cursor: pointer;
    }

    .prev {
      left: 0;
    }

    .next {
      @include media-breakpoint-up(md) {
        left: calc(#{$main-width} - #{$arrow-handler-width});
      }

      @include media-breakpoint-down(sm) {
        right: 0;
      }
    }

    .fa {
      font-size: 30px;
      height: $slider-height;
      line-height: $slider-height;
      text-shadow: 0 1px 7px rgba(0,0,0,.9);
    }
  }

  .main, .list {
    height: $slider-height;
    overflow: hidden;
    position: relative;

    @include media-breakpoint-up(md) {
      float: left;
    }

    .item {
      position: absolute;
      width: 100%;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;

      a {
        display: inline-block;
        width: 100%;
        padding: 10px;
      }

      .text-wrapper {
        position: absolute;
        background-color: rgba(0,0,0,0.57);
        width: 100%;
        left: 0px;
        bottom: 0px;
        padding: 10px 10px;

        h1, h4 {
          color: #fff;
        }
      }
    }
  }

  .main {
    @include media-breakpoint-up(md) {
      width: $main-width;
    }

    .item {
      &, a {
        height: $slider-height;
      }

      .text-wrapper h1 {
        margin-top: 0;
        margin-bottom: 0.5rem;

        @include media-breakpoint-down(xs) {
          font-size: 1.8rem;
        }
      }
    }
  }

  .list {
    @include media-breakpoint-up(md) {
      width: $list-width;
    }

    @include media-breakpoint-down(sm) {
      height: $thumb-height;
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }

    .item {
      @include media-breakpoint-down(sm) {
        width: 50%;
        height: $thumb-height;
      }

      &, a {
        height: $thumb-height;
      }

      .text-wrapper {
        h1 {
          font-size: 1.125rem;
        }

        h4 {
          display: none;
        }
      }

      border-bottom: 1px solid white;
    }
  }
}

// .slider .main .item .de_category-tag,
// .slider .list .item .de_category-tag {
//   position: absolute;
// }
